* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
}

html {
  background: rgb(239, 239, 255);
  background: linear-gradient(
    90deg,
    rgba(239, 239, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(244, 253, 255, 1) 100%
  );
}

nav {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: #8dded2; */
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  animation: fadeIn 3s;
}

nav ul li a {
  color: blueviolet;
  text-decoration: none;
  position: relative;
  transition: color 0.5s ease;
  opacity: 1;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #8dded2;
  position: absolute;
  left: 0;
  bottom: -6px;
  border-radius: 20px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #8dded2;
  top: -3px;
}

#website-heading {
  margin-left: 40px;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 2.4rem;
  color: black;
  animation: fadeIn 1s;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

.headings {
  margin-top: 40px;
  font-family: "Abril Fatface", serif;
  text-align: center;
}

.bullets {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-size: 22px;
}

.descriptions {
  margin-top: 10px;
  font-size: 0.9rem;
}

.container-master {
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  grid-gap: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.top-container {
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}

.div0-top {
  grid-area: 1 / 1 / 4 / 3;
}
.div1-top {
  grid-area: 1 / 3 / 5 / 4;
}
.div2-top {
  grid-area: 1 / 4 / 3 / 5;
}
.div3-top {
  grid-area: 3 / 4 / 5 / 5;
}
.div4-top {
  margin-top: -20px;
  grid-area: 4 / 1 / 5 / 3;
}

.div4-top h1 {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
}

.div4-top p {
  font-size: 2rem;
}

.div0-master {
  grid-area: 1 / 1 / 2 / 2;
}
.div1-master {
  grid-area: 1 / 2 / 2 / 3;
}
.div2-master {
  grid-area: 1 / 3 / 2 / 4;
}

.india-news-container {
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  grid-gap: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.div0-india-news {
  grid-area: 1 / 1 / 2 / 2;
}
.div1-india-news {
  grid-area: 1 / 2 / 2 / 3;
}

.div2-india-news {
  grid-area: 1 / 3 / 2 / 4;
}

.authors-picks-container {
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  grid-gap: 40px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.div0-authors-picks {
  grid-area: 1 / 1 / 2 / 2;
}
.div1-authors-picks {
  grid-area: 1 / 2 / 2 / 3;
}
.div2-authors-picks {
  grid-area: 1 / 3 / 2 / 4;
}
.div3-authors-picks {
  grid-area: 2 / 1 / 3 / 2;
}
.div4-authors-picks {
  grid-area: 2 / 2 / 3 / 3;
}
.div5-authors-picks {
  grid-area: 2 / 3 / 3 / 4;
}
