<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>News Headline Aggregator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h2 id="website-heading">FluxFeed</h2>
    </nav>
    <br />
    <div>
      <h1 class="headings">TOP HEADLINES</h1>
    </div>
    <div class="top_container">
      {% for top_headlines_image in top_headlines_images %}
      <img src="{{ top_headlines_image }}" class="top_images" width="100%" />
      {% endfor %} {% for top_headline in top_headlines %}
      <p class="bullets">{{ top_headline }}</p>
      {% endfor %} {% for top_headline_description in top_headlines_description
      %}
      <p class="descriptions">{{ top_headline_description }}</p>
      {% endfor %}
    </div>
    <hr />
    <div>
      <h1 class="headings">LATEST HEADLINES</h1>
    </div>
    <div class="latest_news_container">
      {% for i in range(0, len_latest) %}
      <div>
        <p class="bullets latest_bullets">{{ latest_headlines[i] }}</p>
        <p class="descriptions latest_descriptions">
          {{ latest_descriptions[i] }}
        </p>
      </div>
      <img src="{{ latest_images[i] }}" class="latest_images" width="200px" />
      {% endfor %}
    </div>
  </body>
</html>
