<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>News Headline Aggregator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <h2 id="website-heading">FluxFeed</h2>
    </nav>
    <div>
      <h1 class="headings">TOP HEADLINES</h1>
    </div>
    <div class="top-container">
      {% for i in range(0, 4) %}
      <div class="div{{i}}">
        <img
          src="{{ top_headlines_images[i] }}"
          class="top_images"
          width="100%"
        />
        <p class="bullets">{{ top_headlines[i] }}</p>
        <p class="descriptions">{{ top_headlines_description[i] }}</p>
      </div>
      {% endfor %}
      <div class="div4">
        <h1>Hey There!</h1>
        <p>Hope You're Having a Good Day!</p>
      </div>
    </div>
    <hr />
    <div>
      <h1 class="headings">LATEST HEADLINES</h1>
    </div>
  </body>
</html>
